 *,
 body {
     margin: 0;
     padding: 0;
 }

 a {
     text-decoration: none;
 }

 .div_0 {
     position: relative;
     user-select: none;
 }

 .div_top {
     width: 100%;
     background-image: linear-gradient(90deg, rgba(255, 113, 154, 1) 0%, rgba(255, 169, 159, 1) 48%, rgba(255, 226, 159, 1) 100%);
     margin-bottom: 25px;
     height: 350px;
     padding-top: 35px;
 }

 .div_top_content {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

     max-width: 700px;
     margin: 0px auto 0px;
     padding-top: 20px;
     padding-bottom: 20px;
 }

 .crx_title {
     display: inline-block;
     font-family: '微软雅黑';
     background-image: linear-gradient(to left, #30CFD0 0%, #330867 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin-bottom: 10px;
 }



 .logo_img {
     width: 80px;
     margin-bottom: 13px;
 }

 .div_content {}

 .div_content_1,
 .div_content_2 {
     display: flex;
     padding: 20px;
 }

 .desc,
 .img_out {
     /* flex: 1; */
 }

 .desc_right {
     text-align: right;
 }

 /* .div_content_1 {
            background-color: beige;
        } */

 /* .div_content_2 {
            background-image: linear-gradient(160deg, rgb(128 208 199 / 60%) 0%, rgb(0 147 233 / 90%) 100%);
        } */

 .img_out {
     width: 400px;
     height: 235px;
     /* border: 2px solid red; */
     margin: 20px auto 20px;
     perspective: 800px;
 }

 .img_out .img_show {
     width: 400px;
     height: 235px;
     position: fixed;
     /* border: 0 solid; */
     border-radius: 8px;
     transition: all 1s ease;
 }

 .img_show:hover {
     width: 440px;
     height: 250px;
     transition: all 1s ease-in-out;
 }


 .img_out .img_show_left {

     transform: rotateY(15deg);
     box-shadow: -5px 5px 15px 5px rgb(0 0 0 / 20%);
 }

 .img_out .img_show_right {
     transform: rotateY(-15deg);
     box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 20%);
 }

 .div_content_1 .desc {
     /* padding: 15px 0; */
     margin: auto auto auto 0;
 }

 .div_content_2 .desc {
     /* padding: 15px 0; */
     margin: auto 0 auto auto;
 }


 .desc h2,
 .div_bottom h2 {
     font-size: 30px;

 }

 .desc p {
     margin: 15px 0;
     font-size: 20px;
 }

 .div_bottom {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 130px;
     margin-bottom: 50px;
 }

 .div_bottom .btn {
     padding-top: 20px;
     display: flex;
     /* width: 455px; */
     justify-content: space-between;
     gap: 45px;
 }

 .btn_0 {
     /* width: 90px; */
     height: 20px;
     background: linear-gradient(to left, #30CFD0 0%, #31afbf 100%);
     border-radius: 8px;
     color: #fff;
     text-align: center;
     padding: 8px 12px;
     font-size: 15px;
     display: flex;
     gap: 8px;
 }

 .btn_0:hover {
     background: linear-gradient(90deg, rgba(255, 113, 154, 1) 0%, rgba(255, 169, 159, 1) 48%, rgba(255, 226, 159, 1) 100%);
 }

 .e-icon {
     height: 20px;
     width: 20px;
 }

 @media screen and(max-width: 850px) {

     .div_content_1,
     .div_content_2 {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }

     .desc {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

     }



     .div_content_1 .desc,
     .div_content_2 .desc {
         margin: 0;
     }

     .img_out .img_show_left,
     .img_out .img_show_right {

         transform: rotateY(0deg);
         box-shadow: -5px 5px 15px 5px rgb(0 0 0 / 20%);
     }

     .img_show:hover {
         width: 420px;
         height: 245px;
         transition: all 1s ease;
     }




 }